@model DoctorListViewModel;

<body>
<h2>@Model.CurrentCategory</h2>
<div class="card-deck">
    @foreach (var doctor in Model.Doctors)
    {
        <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="@doctor.ImageThumbnailUrl" alt="doctor for the hospital"/>
                <div class="card-body">
                    <h3 class="card-title">@doctor.Surname</h3>
                    <h2 class="card-text">@doctor.Name</h2>
                    <p class="card-text">@doctor.Description</p>
                </div>
            </div>

    }
</div>
</body>
